body{margin-top: 0;
     margin: 0;   
     text-align: center;}
h1{margin: 0;
        font-size: 90px;
        line-height: 10px;
        font-family: 'Smooch', cursive;
        color: #66BFBF;
}
h2{font-size: 2.5rem;
        color:#66BFBF;
        font-weight: normal;}
h3{color: #11999E;
}

a{
        margin: 20px 20px;
        text-decoration: none;
}

a:hover{
        color: red;
}

.top{
        background-color: #EAF6F6;
        position: relative;
        padding-top: 100px; 
}
.top-cloud{position: absolute;
        right: 300px;
        top: 50px;

        }
.bottom-cloud{position: absolute;
        left: 300px;
        bottom: 300px;
        }
.skill-row{width: 50%;
        text-align: left;
        line-height: 2;
        margin: 100px auto 100px auto;
}        

.profile-picture{border-radius: 50%;
        padding-top: 150px;
        width: 150px; }

.skills-img-1{
        background-color: coral;
        padding-right: 50px;
        float: left;
        border-radius: 100%;
        width: 25%}

.workout{
        background-color: dimgray;
        padding-left: 50px;
        float: right;
        width: 25%;
        border-radius: 50%;}

.paragraph-1{
        color: #40514E;
        width: 40%;
        margin: 0 auto;
}  

.dotted-line-break{
        border: 10px;
        border-top-style: dotted;
        width: 5%;
        margin: 100px auto 50px;
        color: #EAF6F6;
        
}

.bottom-container{
        padding: 50px 0 20px;
        background-color: yellow;
       
     
}

.btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: 'Smooch', cursive;
        color: #ded3de;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin-top: 500px;
      }
      
      .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }

.contact-me{
        
        margin: 100px auto 50px auto;
}

.fuck{
       padding-bottom: 50px;
}

.jv{
        font-size: 0.75rem;
        color: black;
        padding: 20px 0;
}


